* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
}
body {
  background-color: #1f2022;
  font-family: sans-serif;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 80px;
}
.logo {
  width: 100px;
}

.list {
  display: flex;
  justify-content: end;
  list-style: none;
  width: 1000px;
  color: grey;
  align-content: center;
}

.list .list-item {
  padding: 0 25px;
}
.button-small {
  padding: 10px 10px;
  background-color: #1f2022;
  border: 2px solid grey;
  color: grey;
  border-radius: 10px;
}

.hero > * {
  flex-basis: 100%;
}

.hero {
  display: flex;
  flex-direction: row;
  margin: 50px 100px;
  width: 1300px;
  align-items: center;
  text-align: start;
  height: 300px;
  color: white;
  font-size: 40px;
}
.hero p {
  color: grey;
  font-size: 18px;
  text-align: start;
  margin-left: ;
}

.bottom img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
